<template>
  <div id="app">
    <div class="toast" v-if="message"><span class="pt-icon pt-icon-ring"></span>{{message}}</div>
    <div class="main" v-if="!showLogin">
      <div class="buttons">
        <button type="button" class="pt-button pt-icon-add pt-intent-primary" @click="create">创建用户</button>
        <button type="button" class="pt-button pt-icon-new-object pt-intent-primary" @click="addNode">添加节点</button>
      </div>
      <node v-for="node in nodes" :host="node.host" :name="node.name" :ping="node.ping" :users="node.users"></node>
      <create v-if="showCreate" :close="close" />
      <add-node v-if="showAddNode" :close="close" />
    </div>
    <login v-if="showLogin"></login>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import Create from 'components/Create'
import Node from 'components/Node'
import AddNode from 'components/AddNode'
import Login from 'components/Login'

export default {
  name: 'app',
  components: {
    Node,
    Create,
    AddNode,
    Login
  },
  data () {
    return {
      message: '',
      showCreate: false,
      showAddNode: false
    }
  },
  computed: {
    ...mapState({
      showLogin: (state) => state.app.showLogin,
      nodes: (state) => state.app.nodes
    })
  },
  methods: {
    create () {
      this.showCreate = true
    },
    addNode () {
      this.showAddNode = true
    },
    close () {
      this.showCreate = false
      this.showAddNode = false
    },
    getNodes () {
      this.$store.dispatch('getNodes')
    }
  },
  created () {
    this.getNodes()
  }
}
</script>

<style>
#app {
  font-size: 14px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 200px;
  width: 100%;
  max-width: 900px;
  .buttons {
    margin-top: 80px;
  }
}
.pt-dialog-footer-actions {
  width: 100%;
  display: flex;
  align-items: center;
}
.toast {
  background-color: #0f9960;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 10px 15px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 2px 4px rgba(16, 22, 26, 0.2), 0 8px 24px rgba(16, 22, 26, 0.2);
  width: 150px;
  pointer-events: all;
  font-weight: bold;
  text-align: center;
  top: 30px;
  left: 50%;
  margin-left: -75px;
  .pt-icon {
    color: white;
    font-size: 14px;
    margin-right: 8px;
  }
}
</style>
