<style>
  .bg {
    background-color: #f7f9fa;
    padding: 50px;
    font-size: 14px;
  }
  .main {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ddd;
  }
  .line {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 30px 0;
  }
  .title {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .footer {
    text-align: center;
    margin-top: 20px;
    color: #aaa;
  }
</style>

<div class="bg">
  <h1 class="title">SSR管理平台通知</h1>
  <div class="main">
    <h3 class="subtitle">已创建您的账户</h3>
    <hr class="line">
    <b>账号：</b>{{.Name}}
    <br/>
    <b>端口：</b>{{.Port}}
    <br/>
    <b>密码：</b>{{.Pass}}
    <br/>
    <br/>
  </div>
  <div class="footer">© 2017 SSR管理平台 如有任何疑问，可直接回复该邮件</div>
</div>
