<div class="bg" style="background-color: #f7f9fa;padding: 50px;font-size: 14px;">
  <h1 class="title" style="text-align: center;">SSR管理平台通知</h1>
  <div class="main" style="padding: 20px;max-width: 400px;margin: 0 auto;background-color: white;border: 1px solid #ddd;">
    <h3 class="subtitle" style="text-align: center;">您的账户已过期</h3>
    <hr class="line" style="border: 0;border-top: 1px solid #ddd;margin: 30px 0;">
    您的账户已过期，续费后将恢复您的账户。
  </div>
  <div class="footer" style="text-align: center;margin-top: 20px;color: #aaa;">© 2017 SSR管理平台 如有任何疑问，可直接回复该邮件</div>
</div>
