<template>
  <div class="pt-dialog" id="create">
    <div class="pt-dialog-header">
      <span class="pt-icon-large pt-icon-add"></span>
      <h5>添加节点</h5>
      <button aria-label="Close" class="pt-dialog-close-button pt-icon-small-cross" @click="close"></button>
    </div>
    <div class="pt-dialog-body">
      <alert v-if="message" :message="message"></alert>
      <label class="pt-label pt-inline">
        名称： <div class="pt-input-group">
          <span class="pt-icon pt-icon-inbox"></span>
          <input class="pt-input" placeholder="使用有意义的名称" v-model="name" />
        </div>
      </label>
      <label class="pt-label pt-inline">
        地址： <div class="pt-input-group">
          <span class="pt-icon pt-icon-history"></span>
          <input class="pt-input" placeholder="IP地址或域名" v-model="host" />
        </div>
      </label>
      <label class="pt-label pt-inline">
        密码： <div class="pt-input-group">
          <span class="pt-icon pt-icon-align-left"></span>
          <input class="pt-input" type="password" placeholder="结点访问密码" v-model="pass" />
        </div>
      </label>
    </div>
    <div class="pt-dialog-footer">
      <div class="pt-dialog-footer-actions">
        <loading v-if="loading"></loading>
        <button type="button" class="pt-button" @click="close">取消</button>
        <button type="submit" class="pt-button pt-intent-primary pt-icon-add pt-intent-success" @click="create">添加</button>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from 'components/Alert'
import Loading from 'components/Loading'

export default {
  name: 'create',
  components: {
    Alert,
    Loading
  },
  props: {
    close: {
      type: Function
    }
  },
  data () {
    return {
      name: '',
      host: '',
      pass: '',
      message: '',
      loading: false
    }
  },
  computed: {
  },
  mounted: function () {
    this.$el.querySelector('input').focus()
  },
  methods: {
    async create () {
      const dispatch = this.$store.dispatch
      this.message = ''
      if (!this.name) {
        this.message = '请输入名称'
        return
      }
      if (!this.host) {
        this.message = '请输入地址'
        return
      }
      if (!this.pass) {
        this.message = '请输入密码'
        return
      }
      this.loading = true
      try {
        await dispatch('addNode', {
          name: this.name.trim(),
          host: this.host.trim(),
          pass: this.pass
        })
        await dispatch('getNodes')
        this.close()
      } catch (res) {
        this.message = res.data
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>
  #create {
    width: 290px;
    select {
      width: 243px;
    }
  }
</style>
