<template>
  <div class="message">
    <span class="pt-icon-standard pt-icon-warning-sign"></span>
    {{this.message}}
  </div>
</template>

<script>
export default {
  name: 'alert',
  props: {
    message: {
      type: String
    }
  }
}
</script>

<style>
  .message {
    .span {
      margin-right: 5px;
    }
    background-color: #FF7373;
    border: 2px solid #F55656;
    padding: 5px 8px;
    border-radius: 2px;
    color: #394B59;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
</style>
