<template>
  <div class="pt-dialog" id="create">
    <div class="pt-dialog-header">
      <span class="pt-icon-large pt-icon-add"></span>
      <h5>创建用户</h5>
      <button aria-label="Close" class="pt-dialog-close-button pt-icon-small-cross" @click="close"></button>
    </div>
    <div class="pt-dialog-body">
      <alert v-if="message" :message="message"></alert>
      <label class="pt-label pt-inline">
        节点： <div class="pt-select">
          <select v-model="host">
            <option v-for="(node, idx) in nodes" :value="node.host" :selected="idx == 0">{{node.name}} ({{node.host}})</option>
          </select>
        </div>
      </label>
      <label class="pt-label pt-inline">
        邮箱： <div class="pt-input-group">
          <span class="pt-icon pt-icon-inbox"></span>
          <input class="pt-input" type="email" placeholder="邮箱地址" v-model="email" />
        </div>
      </label>
      <label class="pt-label pt-inline">
        时长（月）： <div class="pt-input-group">
          <span class="pt-icon pt-icon-history"></span>
          <input class="pt-input" type="number" placeholder="月份数量" v-model="month" />
        </div>
      </label>
      <label class="pt-label pt-inline">
        最大流量（GB）： <div class="pt-input-group">
          <span class="pt-icon pt-icon-align-left"></span>
          <input class="pt-input" type="number" placeholder="" v-model="transfer" />
        </div>
      </label>
      <label class="pt-label pt-inline">
        连接限制： <div class="pt-input-group">
          <span class="pt-icon pt-icon-comparison"></span>
          <input class="pt-input" type="number" placeholder="同时连接的设备数" v-model="limit" />
        </div>
      </label>
    </div>
    <div class="pt-dialog-footer">
      <div class="pt-dialog-footer-actions">
        <loading v-if="loading"></loading>
        <button type="button" class="pt-button" @click="close">取消</button>
        <button type="submit" class="pt-button pt-intent-primary pt-icon-add pt-intent-success" @click="create">创建</button>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from 'components/Alert'
import Loading from 'components/Loading'
import { mapState } from 'vuex'

export default {
  name: 'create',
  components: {
    Alert,
    Loading
  },
  props: {
    close: {
      type: Function
    }
  },
  data () {
    return {
      host: '',
      email: '',
      month: 1,
      transfer: 10,
      limit: 3,
      message: '',
      loading: false
    }
  },
  computed: {
    ...mapState({
      nodes: (state) => state.app.nodes
    })
  },
  mounted: function () {
    this.$el.querySelector('select').focus()
  },
  methods: {
    async create () {
      const dispatch = this.$store.dispatch
      this.message = ''
      if (!this.host) {
        this.message = '请选择节点'
        return
      }
      if (!this.email) {
        this.message = '请输入邮箱'
        return
      }
      this.loading = true
      try {
        await dispatch('createUser', {
          host: this.host,
          email: this.email,
          month: this.month,
          transfer: this.transfer,
          limit: this.limit
        })
        await dispatch('getUsers', {
          host: this.host
        })
        this.close()
      } catch (res) {
        this.message = res.data
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>
  #create {
    width: 290px;
    select {
      width: 243px;
    }
  }
</style>
