<template>
  <div class="pt-dialog" id="create">
    <div class="pt-dialog-header">
      <span class="pt-icon-large pt-icon-trash"></span>
      <h5>删除用户</h5>
      <button aria-label="Close" class="pt-dialog-close-button pt-icon-small-cross" @click="close"></button>
    </div>
    <div class="pt-dialog-body">
      <alert v-if="message" :message="message"></alert>
      <p>确定要删除 {{email}} ？</p>
    </div>
    <div class="pt-dialog-footer">
      <div class="pt-dialog-footer-actions">
        <loading v-if="loading"></loading>
        <button type="button" class="pt-button" @click="close">取消</button>
        <button type="submit" class="pt-button pt-intent-primary pt-icon-trash pt-intent-danger" @click="remove">删除</button>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from 'components/Alert'
import Loading from 'components/Loading'

export default {
  name: 'create',
  components: {
    Alert,
    Loading
  },
  props: {
    host: {
      type: String
    },
    email: {
      type: String
    },
    close: {
      type: Function
    }
  },
  data () {
    return {
      message: '',
      loading: false
    }
  },
  methods: {
    async remove () {
      const dispatch = this.$store.dispatch
      this.message = ''
      this.loading = true
      try {
        await dispatch('removeUser', {
          host: this.host,
          email: this.email
        })
        await dispatch('getUsers', {
          host: this.host
        })
        this.close()
      } catch (res) {
        this.message = res.data
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>
  #create {
    width: 290px;
  }
</style>
