<template>
  <div class="pt-dialog" id="create">
    <div class="pt-dialog-header">
      <span class="pt-icon-large pt-icon-manually-entered-data"></span>
      <h5>编辑用户</h5>
      <button aria-label="Close" class="pt-dialog-close-button pt-icon-small-cross" @click="close"></button>
    </div>
    <div class="pt-dialog-body">
      <alert v-if="message" :message="message"></alert>
      <p class="dialog-title">用户 {{email}}：</p>
      <label class="pt-control pt-checkbox">
        <input type="checkbox" v-model="clearTransfer" />
        <span class="pt-control-indicator"></span>
        强制归零流量
      </label>
      <label class="pt-label pt-inline">
          过期（加/减月）： <div class="pt-input-group">
          <span class="pt-icon pt-icon-history"></span>
          <input class="pt-input" type="number" placeholder="月份数量" v-model="month" />
        </div>
      </label>
      <label class="pt-label pt-inline">
          限制： <div class="pt-input-group">
          <span class="pt-icon pt-icon-comparison"></span>
          <input class="pt-input" type="number" placeholder="最大连接数" v-model="limit" />
        </div>
      </label>
    </div>
    <div class="pt-dialog-footer">
      <div class="pt-dialog-footer-actions">
        <loading v-if="loading"></loading>
        <button type="button" class="pt-button" @click="close">取消</button>
        <button type="submit" class="pt-button pt-intent-primary pt-icon-manually-entered-data pt-intent-success" @click="edit">更新</button>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from 'components/Alert'
import Loading from 'components/Loading'

export default {
  name: 'create',
  components: {
    Alert,
    Loading
  },
  props: {
    host: {
      type: String
    },
    email: {
      type: String
    },
    close: {
      type: Function
    }
  },
  data () {
    return {
      month: 0,
      limit: 3,
      clearTransfer: false,
      message: '',
      loading: false
    }
  },
  mounted () {
    this.$el.querySelector('input').focus()
  },
  methods: {
    async edit () {
      const dispatch = this.$store.dispatch
      this.message = ''
      this.loading = true
      try {
        await dispatch('editUser', {
          host: this.host,
          email: this.email,
          month: this.month,
          limit: this.limit,
          transfer: this.clearTransfer ? 0 : 1
        })
        await dispatch('getUsers', {
          host: this.host
        })
        this.close()
      } catch (res) {
        this.message = res.data
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>
  #create {
    width: 290px;
    .dialog-title {
      margin-bottom: 20px;
    }
  }
</style>
