<template>
  <div class="container">
    <edit v-if="showEdit" :host="host" :email="focusEmail" :close="close"></edit>
    <delete v-if="showDelete" :host="host" :email="focusEmail" :close="close"></delete>
    <qr v-if="qrCode" :host="host" :email="focusEmail"></qr>
    <table class="list pt-table pt-striped">
      <thead>
        <th><span class="pt-icon-standard pt-icon-inbox"></span>邮箱</th>
        <th><span class="pt-icon-standard pt-icon-doughnut-chart"></span>端口</th>
        <th><span class="pt-icon-standard pt-icon-lock"></span>密码</th>
        <th><span class="pt-icon-standard pt-icon-social-media"></span>加密</th>
        <th><span class="pt-icon-standard pt-icon-align-left"></span>流量</th>
        <th><span class="pt-icon-standard pt-icon-comparison"></span>限制</th>
        <th><span class="pt-icon-standard pt-icon-time"></span>过期</th>
        <th><span class="pt-icon-standard pt-icon-cog"></span>操作</th>
      </thead>
      <tbody>
        <tr v-for="user in users">
          <td>{{user.user}}</td>
          <td>{{user.port}}</td>
          <td>{{user.passwd}}</td>
          <td>{{user.method}}</td>
          <td>{{user.d}} / {{user.transfer_enable}} MB</td>
          <td>{{user.protocol_param}}</td>
          <td>{{user.end}}</td>
          <td>
            <button type="button" class="pt-button pt-minimal pt-icon-new-grid-item pt-intent-success" @click="showQR(user.user)"></button>
            <button type="button" class="pt-button pt-minimal pt-icon-manually-entered-data pt-intent-success" @click="edit(user.user)"></button>
            <button type="button" class="pt-button pt-minimal pt-icon-delete pt-intent-danger" @click="del(user.user)"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Edit from 'components/Edit'
import Delete from 'components/Delete'
import Qr from 'components/Qr'

export default {
  name: 'list',
  components: {
    Edit,
    Delete,
    Qr
  },
  data () {
    return {
      showEdit: false,
      showDelete: false,
      focusEmail: ''
    }
  },
  props: {
    host: {
      type: String
    },
    users: {
      type: Array
    }
  },
  computed: {
    ...mapState({
      qrCode: (state) => state.app.showQR
    })
  },
  methods: {
    edit (email) {
      this.focusEmail = email
      this.showEdit = true
    },
    del (email) {
      this.focusEmail = email
      this.showDelete = true
    },
    close () {
      this.showEdit = false
      this.showDelete = false
    },
    showQR (email) {
      this.focusEmail = email
      this.$store.dispatch('toggleQR', {
        host: this.host,
        email
      })
    }
  }
}
</script>

<style>
  .list {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #E1E8ED;
    border-radius: 5px;
    .pt-icon-standard {
      margin-right: 10px;
    }
    tbody {
      tr {
        td {
          line-height: 35px;
        }
      }
    }
  }
</style>
