<template>
  <div class="pt-dialog" id="create">
    <div class="pt-dialog-header">
      <span class="pt-icon-large pt-icon-user"></span>
      <h5>请先登陆</h5>
    </div>
    <div class="pt-dialog-body">
      <alert v-if="message" :message="message"></alert>
      <span class="pt-icon pt-icon-user"></span>
      <label class="pt-label pt-inline">
        <div class="pt-input-group">
          <span class="pt-icon pt-icon-lock"></span>
          <input class="pt-input" type="password" placeholder="请输入密码" v-model="auth" />
        </div>
      </label>
    </div>
    <div class="pt-dialog-footer">
      <div class="pt-dialog-footer-actions">
        <loading v-if="loading"></loading>
        <button type="submit" class="pt-button pt-intent-primary pt-icon-circle pt-intent-success" @click="login">登陆</button>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from 'components/Alert'
import Loading from 'components/Loading'
import { mapState } from 'vuex'

export default {
  name: 'create',
  components: {
    Alert,
    Loading
  },
  props: {
  },
  data () {
    return {
      message: '',
      loading: false,
      auth: ''
    }
  },
  computed: {
    ...mapState({
      nodes: (state) => state.app.nodes
    })
  },
  mounted: function () {
    this.$el.querySelector('input').focus()
  },
  methods: {
    async login () {
      const dispatch = this.$store.dispatch
      this.message = ''
      if (!this.auth) {
        this.message = '请输入密码'
        return
      }
      this.loading = true
      try {
        await dispatch('login', {
          auth: this.auth
        })
        await dispatch('getNodes')
        dispatch('toggleLogin', false)
        this.close()
      } catch (res) {
        this.message = res.data
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>
  #create {
    width: 290px;
    select {
      width: 243px;
    }
    .pt-dialog-body {
      .pt-icon-user {
        text-align: center;
        font-size: 58px;
        display: block;
        margin-bottom: 20px;
      }
    }
  }
</style>
