<template>
  <div class="node">
    <del-node v-if="showDelNode" :host="host" :close="close" />
    <div class="header">
      <div class="pt-button-group">
        <a class="pt-button pt-icon-globe pt-intent-success" tabindex="0" role="button">{{name}} {{host}}</a>
        <a class="pt-button pt-icon-time" tabindex="0" role="button">响应时间 {{ping}}ms</a>
      </div>
      <button class="pt-button pt-intent-danger" tabindex="0" role="button" @click="delNode">删除节点</button>
    </div>
    <list :host="host" :users="users" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import List from 'components/List'
import DelNode from 'components/DelNode'

export default {
  name: 'node',
  components: {
    List,
    DelNode
  },
  data () {
    return {
      showDelNode: false
    }
  },
  computed: {
    ...mapState({
      showCreate: (state) => state.app.showCreate
    })
  },
  props: {
    name: {
      type: String
    },
    host: {
      type: String
    },
    ping: {
      type: Number
    },
    users: {
      type: Array
    }
  },
  methods: {
    close () {
      this.showDelNode = false
    },
    getUsers () {
      this.$store.dispatch('getUsers', {
        host: this.host
      })
    },
    delNode () {
      this.showDelNode = true
    }
  },
  created () {
    const loop = () => {
      setTimeout(() => {
        this.getUsers()
        loop()
      }, 10 * 1000)
    }
    loop()
    this.getUsers()
  }
}
</script>

<style>
  .node {
    margin-top: 50px;
    .header {
      display: flex;
      justify-content: space-between;
    }
  }
</style>
