<template>
  <div class="pt-dialog" id="qr">
    <div class="pt-dialog-header">
      <span class="pt-icon-large pt-icon-new-grid-item"></span>
      <h5>扫描二维码</h5>
      <button aria-label="Close" class="pt-dialog-close-button pt-icon-small-cross" @click="close"></button>
    </div>
    <div class="pt-dialog-body">
      <img :src="showQR" alt="">
    </div>
    <div class="pt-dialog-footer">
      <div class="pt-dialog-footer-actions">
        <button type="button" class="pt-button" @click="close">关闭</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'qr',
  components: {
  },
  computed: {
    ...mapState({
      showQR: (state) => state.app.showQR
    })
  },
  methods: {
    close () {
      this.$store.dispatch('toggleQR')
    }
  }
}
</script>

<style>
  #qr {
    width: 290px;
    img {
      border-radius: 5px;
    }
  }
</style>
